* {
    margin: 0px;
    padding: 0px;
  }
  
  body {
    background-color: #f2a9a9;
    background: #f2a9a9;
  }
  
  .container {
    width: 500px;
    height: 50%;
    overflow: hidden;
    border: 0px solid #000;
    margin: 50px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .form {
    width: 250px;
    height: 40%;
  }